<!DOCTYPE html>
<html>
<head>
	<title>WEB700</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/theme.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<main class="col-md-12">
				<div class="add-div">
				<h1>Helolo, Welcome to my website</h1>
				<p> I will be showing my HTML5 skills.</p>
				</div>
		</div>
		<div class="add-div">
			<h3>Important Links</h3>
			<p>This site consists of 3 pages.</p>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/htmlDemo">HTML Demo</a></li>
			</ul>
			<ul>
				<li><a href="/students">All Students</a></li>
				<li><a href="/students?course=6">Students by Course</a></li>
				<li><a href="/student/10">A Single Student By Student Number</a></li>
				<li><a href="/tas">All Teaching Assistants</a></li>
				<li><a href="/courses">All Courses</a></li>
			</ul>
		</div>
		<div class="add-div">
			<h3>Web Development Assignment5</h3>
			<p>Hypertext Markup Language or HTML is a standard markup language for drafting documents. 
			   Cascading Style Sheets (CSS) and A scripting language like JavaScript.
               A web browser receives an HTML document from a web server or local storage and renders the document.
               For multimedia websites. HTML semantically and uniquely describes the structure of a website.
               Contains tips on how the document should look.</p>
		</div>
		</main>
	</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>